.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58px;

  border-bottom: 1px solid #094067;
}

.main {
  min-height: calc(100% - 58px - 58px);
}

.footer {
  height: 58px;
  border-top: 1px solid #094067;
}

.footerInner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 36rem;
  padding: 0.5rem 0.2rem;
  margin: 0 auto;
}

.followMe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.snsIcon {
  width: 32px;
}

.siteTitle {
  font-size: 2rem;
}
