.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #094067;
}

.siteTitle {
  font-size: 2rem;
}

.siteTitle > a {
  text-decoration: none;
  color: inherit;
}
