.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #5f6c7b;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.marginRightMini {
  margin-right: 0.5rem;
}

.container {
  max-width: 36rem;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.linkNormal {
  text-decoration: none;
  color: inherit;
}
